body {
  display: flex;
  justify-content: center;
  background-color: black;
}
#content {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15vh 10vh 75vh;
  max-width: 80vw;
  background-image: url(./frontpage.jpg);
  background-size: cover;
}
h1 {
  grid-area: 1/1/2/3;
  text-align: center;
  color: white;
}
.mainContent {
  grid-area: 3/1/4/3;
  display: flex;
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
img {
  width: 100%;
  height: 450px;
}
.imgContainer {
  flex: 1;
}
.nav {
  grid-area: 2/1/3/3;
  display: flex;
  justify-content: center;
  gap: 10px
}
.navbtn {
  font-size: 15px;
  font-family: Arial;
  width: 100px;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: #18ab29;
  font-weight: bold;
  border-radius: 28px;
  text-shadow: 1px 1px 0px rgba(70, 106, 65, 1);
  background: rgba(155, 69, 176, 1);
}
.navbtn:hover {
    background: #5cbf2a
  }
.review{
    font-size: 1.5rem;
}